os: osx

language: node_js

node_js:
- node

env:
  global:
    - PROJECT_VERSION_MAJOR="1"
    - PROJECT_VERSION_MINOR="0"
    - PROJECT_VERSION_PATCH="${TRAVIS_BUILD_NUMBER}"
    - PROJECT_VERSION="${PROJECT_VERSION_MAJOR}.${PROJECT_VERSION_MINOR}.${PROJECT_VERSION_PATCH}"
    - PACKAGE_ARCHITECTURE="amd64"
    - PACKAGE_NAME="bluzelle-crud"
    - PACKAGE_NAME_DEB="${PACKAGE_NAME}_${PROJECT_VERSION}_${PACKAGE_ARCHITECTURE}.deb"
    - PACKAGE_NAME_OSX="${PACKAGE_NAME}_${PROJECT_VERSION}_darwin_${PACKAGE_ARCHITECTURE}.tar.gz"
    - secure: "KhmOBbqTmW4SaFQSCcinfREGTv871075UUbfnQhzbHP9ne2HGCkwD9h+eL9uchOAlkS2I0V0PfFy4oXh6W1UQyXmukoIOSThrkJXP33vmlqQpErOg5KNTojwras0+G+qxlkAeE1PJyFAfUTGnyvcj6iH5dknPA95ZgK00kjPtb33LLle5IUGq04OlXDBXnNNp3R7LW3WBMqdyu4e5+u4qqaA3S45OWLB/IllI7v3XfrOEAuRHE/t+ekEw/nJzEmVKrU5eyx14GVo50Gq3wsFY8EzR9FMm7DVFu+LM4W/wXYL7zzbnnssXaLQtsSxkGwjJH3rSQT3lZN+5xn1DEeFOeFYg6HJXa4SM+ukv+Dk0YvcWj6NTPihiCgcLixpTBjBL28U9yTXtBCwBGFw7kLgLZFA7LRHDsEycsFO964NC6Al2h4SkUBhRFFmMYW2FGc4dQwsgLtagrcF3vLe3X+6JMXn5grCP/VbgQu4jCjuHWumdVEg06d6xzkjXcCiDBeXFzLvyrYV6MemuVRLegs+rPh+Oc5izyyNsHiS62tx9ajKS0u3oVD/zX3Rm0hq+heUgViSeaXvQ5DrO8VbuIaZy/kQTVv4f6/i6yvVysaenWPjHAI2rs92Hbgk6CGHNljfJBx7ooUgXeoqOw5sIgdSOuxMuBOVYKMiNPeQJW2oJfA="
    - secure: "XmAHQpKk/WlRYxlquQ6PSGQdoY+Pc0vcIpH0nwURq2D7wZtFDsTLyIEjjJAs5BsZfkvCCfj41CWubQX6lVPo+WLARZ/cvMId+HrHRdUEzxtKQ5MqFZNjfqGlqWMR0YbvUJSgGS+rJnHXNjktO91egM39Ae1O21oQZqTgpTkfRdqkR1ZTHTaAMPzEuQaGK6a6gTWrm13tRc/bRJuoXc1jZFqFud5pg01Pl6ekPL2rd41J9WVsdtP8x++eG6SwhphFFo1MVc9IROHv+Uo1Uo+7uqZ/6TGd0YXAHat8IFzyWWJ3JkrJ88aHV3QUvPQcfJXbRK1IWEeQrtTWj0WXw6yIOq+kVnJJNFr52+6p9rxFIpVi0JotJrr7+nwfJzyY35hv4LMVnX8Bw8xwddVr+DZOwmpZhAplLFS2Mvh0P/RkhjTJWhGbKNqlvX/BTY8C+fJ4cfBG650JD8JeBtYgX6Lzaw0HO3TD/QM/S1e+XT2uZ+dS72jgTx9PjRk6fSBbAufzgqpJEGGDDqmNJjLIi63S5zF6CbtgeQyZT9weaNrLTLO/cMXfCaXdBgrN9HLC6HEhq0v0oPrDvtbXLCPSzCm9RxBYWPSnbVyUnXPCLJQ7ynGsnUaJOBQqlFdHLG7NnKSl+mnzjJzchMP9+9gPURVfTv4K4LTuASRqyR974l20CtQ="

install:
- cd web
- npm install
- cd ..

script:
- cd web
- npm run dev-compile
- cd ..

after_success:
- if [ "$TRAVIS_BRANCH" = "master" ]; then
    ./package.sh;
  fi